body {
  background: black;
  font-family: "Yatra One", cursive;
  color: #fff8e7;
}
.contianer {
  max-width: 1400px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-gap: 60px;
}
.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/coverexo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  font-weight: 46px;
  color: #fff8e7;
  text-align: center;
  padding: 160px 0;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 3px;
  margin: 0;
}
header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff8e6;
  background-color: #bcb785;
  padding: 16px 20px;
  display: inline-block;
}
section {
  max-width: 1200px;
  margin: 0 auto;
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/fandom2.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff8e7;

  width: 1512px;
  height: 334px;
  left: 0px;
  top: 3742px;
}
footer h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.6;
  margin-right: 20px;
  line-height: 24px;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: #fff8e7;
  opacity: 0.6;
}
@media (max-width: 800px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  section {
    padding: 30px;
  }
}
