body {
  background: black;
  font-family: "Yatra One", cursive;
  color: #fff8e7;
}
.contianer {
  max-width: 1400px;
  margin: 0 auto;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
.card {
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding: 0;
  color: #fff8e6;
  border-radius: 15px;
  text-align: center;
}
.card-song-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/exomonster.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.card-song-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/exosweet.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.card-header .grid {
  grid-gap: 0;
}
.card thumbnail {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card-body {
  padding: 30px;
}
.card-footer {
  text-decoration: none;
}
.img-responsive {
  width: 100%;
  display: block;
}
.instagram-embeds {
  margin: 30px;
}
.instagram-gallery h3 {
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 3px;
}
.grid {
  display: grid;
  grid-gap: 60px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.thumbnail {
  border-radius: 8px;
  max-width: 100%;
  transition: all 150ms ease-in-out;
  border: 2px solid white;
}
.thumbnail:hover {
  filter: invert(10%);
  transform: scale(1.2);
}
.btn {
  display: block;
  border-radius: 10px;
  color: #fff8e6;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: capitalize;

  padding: 7px 10px;
  background-color: #5c6ba9;
  text-decoration: none;
}
.text-center {
  text-align: center;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/coverexo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  font-weight: 46px;
  color: #fff8e7;
  text-align: center;
  padding: 160px 0;
  letter-spacing: 5px;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 3px;
  margin: 0;
}
header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff8e6;
  background-color: #534e79;
  padding: 16px 20px;
  display: inline-block;
}
section {
  max-width: 1200px;
  margin: 20px;
}
main {
  background-color: rgb(225, 225, 225, 0);
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 2.5;
  margin: 0;
  letter-spacing: 5px;
  color: #fff8e7;
  opacity: 0.5;
  text-transform: uppercase;
}
main h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #fff8e7;
  margin: 0;
}
main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff8e6;
  opacity: 0.7;
}
.secondary h2 {
  font-weight: 700;
  font-size: 46px;
  text-align: center;
}
.scondary h3 {
  font-weight: 500;
  font-size: 40px;
  text-align: center;
}
.secondary h4 {
  font-size: 28px;
  font-weight: 600;
}
.secondary p {
  font-size: 18px;
  color: rgba(235, 102, 153, 0.6);
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/exofan.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff8e7;
}
footer h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.6;
  line-height: 24px;
}
footer ul {
  padding: 0;
}
footer li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: #fff8e7;
  opacity: 0.6;
}
@media (max-width: 800px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  section {
    padding: 30px;
  }
  main {
    font-size: 30px;
  }
  .embed {
    max-width: 80%;
    max-height: 50%;
  }
  .card {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
}
